<h1>Hello World!</h1>

{% schema %}
{
  "name": "banner",
  "settings": [
    {
      "id": "d-image",
      "label": "Desktop Image",
      "type": "image_picker"
    },
    {
      "id": "m-image",
      "label": "Mobile Image",
      "type": "image_picker"
    }
  ],
  "presets": [{ "name": "Banner" }]
}
{% endschema %}
