.search {
  padding-inline: var(--p-i);
}

.search_h {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.search h2 {
  font-size: 14px;
  @media (width > 641px) {
    font-size: 12px;
  }
}
.search span {
  font-size: 14px;
  color: #777;
  @media (width > 641px) {
    font-size: 12px;
  }
}

.search_results {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
  @media (width > 641px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (width > 1008px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
